= simple_form_for([@note, @note.questions.build], remote: true) do |f|
  = f.input :content, label: false, placeholder: "Your Question...", required: "true"
  = f.button :submit, value: "Ask Question", class: "btn-std btn-sm"
