#question-edit
  .container
    .qn-internal
      .thread-article
        .thread-form
          .form-card-content
            .form-card-header
              %h2.form-title.mb-0= "Update Your Question Here."
            .form-card-body
              = render 'form'
