:plain
  $('#questions.flex-grid').append('#{ j render @questions }');
  $('.pagination-nav').html('#{ j will_paginate @questions, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-center), previous_label: '&laquo;', next_label: '&raquo;', inner_window: 1, outer_window: 0 }');
