%li.col-sm-12
  .question
    .title.wysiwyg
      = link_to question do
        = simple_format(question.content, {}, :sanitize => false)
    .answer.wysiwyg
      - if question.top_ans.present?
        = simple_format(question.top_ans.content, {}, :sanitize => false)
