= simple_form_for([question, question.answers.build], url: note_question_answers_path(@note.id, question.id), remote: true) do |f|
  = f.input :content, as: :summernote, label: false, required: "true"
  = f.button :submit, value: "Answer", class: "btn-std btn-sm my-2"
