= simple_form_for([@question, @note.questions.answer.build], remote: true) do |f|
  = f.input :content, as: :summernote, label: false, required: "true"
  = f.button :submit, value: "Answer", class: "btn-std btn-sm pull-right my-2"
