/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file wimedium this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// Font Faces
@font-face {font-family: 'mattrab-content-sans-serif-font'; src: url('sansserif.ttf') format('truetype');}
@font-face {font-family: 'mattrab-content-light-font'; src: url('light.ttf') format('truetype');}
@font-face {font-family: 'mattrab-content-bold-font'; src: url('bold.ttf') format('truetype');}
@font-face {font-family: 'mattrab-content-serif-font'; src: url('serif.ttf') format('truetype');}

// Variables


html, body{
  margin: 0;
  padding: 0;
  width:100%;
  height:100%;
  background: #fbfbf9!important;
}
.centered-text,.c-t{text-align: center;}

.center {
  margin-left: auto;
  margin-right: auto;
}

.am-container{
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 576px){
  .am-container {
      max-width: 540px;
  }
}
@media (min-width: 768px){
  .am-container {
      max-width: 720px;
  }
}
@media (min-width: 992px){
  .am-container {
      max-width: 960px;
  }
}
@media (min-width: 1200px){
  .am-container {
      max-width: 1140px;
  }
}

.scrolled-down{transform:translateY(100%); transition: all 0.3s ease-in-out;}
.scrolled-up{transform:translateY(0); transition: all 0.3s ease-in-out;}

.pull-right{float: right;}
.border-0{border:0 !important;}
.shadow-0{box-shadow:none !important;}
.rounded-lg{border-radius:.6rem !important;}
.rounded-sm{border-radius:.2rem !important;}
.rounded-xl{border-radius:10rem !important;}

.h-20{height:20% !important;}

.header-space{
  height: 50px;
}
.sticky-subnav-space{
  height: 5rem;
  background: #fbfbf9;
}
@media (max-width: 767.98px){.header-space{height: 195px;}}
@media (max-width: 768px){.sticky-subnav-space{height: 7rem;}}

.space{
  height: 3rem;
  background: #fbfbf9;
}

.wrapper {
 	width: 80%;
 	margin: 0 auto;
}

 .clearfix:before, .clearfix:after {
 	content: " ";
 	display: table;
 }

 .clearfix:after {
 	clear: both;
 }

 .btn-block{
   color: #ffffff!important;
   background: #3bc464!important;
   &:hover{
     text-decoration: none;
     color: #ffffff!important;
     background: #5fcf80!important;
   }
 }

 .btn-std{
   font-size: 1.1rem;
   padding: .4rem 1rem;
   color: #fff!important;
   background: #5fcf80!important;
   border-radius: 3rem!important;
   border: 2px solid #9de2b1!important;
   transition: border-color 0.15s ease, background-color 0.15s ease, color 0.15s ease;
   &:hover{
     border: 2px solid #5fcf80!important;
   }
 }

.btn-hoverable{
  font-size: .9rem;
  border-radius: 100px;
  padding: .5rem .7rem;
  font-family: 'mattrab-content-bold-font'!important;
  border: 2px solid rgba(48,73,97,0.1);
  transition: border-color 0.15s ease, background-color 0.15s ease, color 0.15s ease;
  &:hover{
    text-decoration: none;
    border: 2px solid #5fcf80;
  }
}

.alert{font-size:.9rem;}

.pagination{
  li.page-item{.page-link{color: #2ec66d;}}
  li.page-item.active{.page-link{color: #fff;background-color: #2ec66d;border-color: #2ec66d;}}
}

.strip-row{
  display: -webkit-box; display: flex; flex-wrap: wrap;width: 100%;
  .bar{height: .2rem;width: 8.3333%!important;position: relative;padding-right: 15px;padding-left: 15px;}
  .bar-1st{background: #E81E2B;}
  .bar-2nd{background: #D29E2A;}
  .bar-3rd{background: #2C9646;}
  .bar-4th{background: #BF2035;}
  .bar-5th{background: #EE4225;}
  .bar-6th{background: #05A6D6;}
  .bar-7th{background: #F9C131;}
  .bar-8th{background: #921638;}
  .bar-9th{background: #EE7120;}
  .bar-10th{background: #DF157E;}
  .bar-11th{background: #02548E;}
  .bar-12th{background: #183659;}
}

@keyframes popup {
  from {
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.this-popup {
  position: fixed;
  bottom: 1.2rem;
  right: 1.2rem;width: 340px;
  max-width: 94%;padding: 1.5rem;
  border-radius: .1rem;border: solid #eee;
  border-width: 1px 1px 2px 2px;
  background-color: #fff;
  -webkit-animation: popup .2s forwards;
  animation: popup .2s forwards;
  .close-popup {
    position: absolute;
    left: auto;
    right: 8px;
    bottom: auto;
    top: 18px;
    line-height: 0;
    font-size: 1.4rem;
    cursor: pointer;
    color: rgba( 49, 91, 124, 1.00 );
    &:hover{color: rgba( 32, 71, 111, 1.00 );}
  }
  .popup-head{
    h3.popup-title{
      color: #527cec;
      font-size: 1.3rem;
      font-family: 'mattrab-content-sans-serif-font';
      i.fa{
        font-size: 1.5rem;
      }
    }
  }
  .popup-body{
    p.notice{
      color: #576366;
      font-size: 1rem;
      font-family: 'mattrab-content-sans-serif-font';
      margin-bottom: 0!important;
    }
  }
}
@media (max-width: 575.98px) {.this-popup {width: 94%;bottom:.7rem;right:.7rem;}}

.mr-animate-bitzoom {animation:animatezoom 0.4s}
@keyframes animatezoom{from{transform:scale(0.8)} to{transform:scale(1)}}

@-webkit-keyframes slide-in-nav {
	0% {
		-webkit-transform: translateY(0);
	}
	100% {
		-webkit-transform: translateY(28px);
	}
}
@-moz-keyframes slide-in-nav {
	0% {
		-moz-transform: translateY(0);
	}
	100% {
		-moz-transform: translateY(28px);
	}
}
@keyframes slide-in-nav {
	0% {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		-webkit-transform: translateY(28px);
		-moz-transform: translateY(28px);
		-ms-transform: translateY(28px);
		-o-transform: translateY(28px);
		transform: translateY(28px);
	}
}
@-webkit-keyframes slide-in-hero {
	0% {
		-webkit-transform: translateY(-48px);
	}
	100% {
		-webkit-transform: translateY(0);
	}
}
@-moz-keyframes slide-in-hero {
	0% {
		-moz-transform: translateY(-48px);
	}
	100% {
		-moz-transform: translateY(0);
	}
}
@keyframes slide-in-hero {
	0% {
		-webkit-transform: translateY(-48px);
		-moz-transform: translateY(-48px);
		-ms-transform: translateY(-48px);
		-o-transform: translateY(-48px);
		transform: translateY(-48px);
	}
	100% {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
	}
}

@import "bootstrap";
@import "summernote-bs4";
@import 'home.css.scss';
@import 'notes.css.scss';
@import 'users.css.scss';
