header{
 	width: 100%;
  z-index: 99;
  position: fixed;
 	padding: 1rem 0;
 	background-color: #fff;
  webkit-box-shadow: 0 0.125rem 0.1875rem -0.125rem rgba(0,0,0,.2);
  box-shadow: 0 0.125rem 0.1875rem -0.125rem rgba(0,0,0,.2);
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
  .col-md-3{
   	.nav-brand{
   		float: left;
  		text-decoration: none;
   		img{
        width: 150px;
   			height: 48px;
   		}
   	}
  }
  .col-md-5{
    padding-top: .4rem;
    form.form-inline{
      input.form-control,
      button.btn{
        font-size: .9rem!important;
        font-family: 'medium';
      }
    }
  }
  .col-md-4{
    ul.nav{
      li.nav-item{
        padding: .7rem 0 0 1.4rem!important;
        a{
          font-size: .9rem;
          font-family: 'bold';
          line-height: 1.5;
     			color: #808080;
          &:hover{
            text-decoration: none;
            color: #595959;
          }
        }
      }
      li.dropdown{
        a.dropdown-toggle{
          margin-top: -7px;
          padding: 0!important;
          img{
            border-radius: 3rem!important;
            border: 2px solid rgba(48,73,97,0.1);
            transition: border-color 0.15s ease;
          }
          &:hover{
            img{
              border: 2px solid #9de2b1;
            }
          }
          &::after{
            display: none;
          }
        }
        .dropdown-menu{
          border-radius: .1rem !important;;
          box-shadow: 0 8px 20px rgba(55, 125, 255, 0.075);
          p.nav-user-name{
            font-size: 1rem;
            font-family: 'medium';
            padding: 0 1.5rem;
          }
          p.nav-user-email{
            font-size: .7rem;
            font-family: 'medium';
            padding: 0 1.5rem;
          }
          a.dropdown-item{
            font-family: 'medium';
            &:focus{
              background-color: #f2f2f2!important;
            }
          }
        }
      }
    }
  }
}

.banner{
  z-index: 2!important;
  position: relative;
  background-image: linear-gradient(rgba(95,207,128,.7),rgba(95,207,128,.7)),url(banner.jpg);
  min-height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .banner-content{
    width: 100%;
    max-width: 763px;
    padding: 6rem 15px 0 15px;
    margin: auto;
    .search-bar {
      border-radius: 10rem;
      background: #fff;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
      .form-group {
        position: relative;
        margin-bottom: 0;
      }
      .form-control {
        height: calc(1.5em + 1rem + 2px);
      }
      .input-label-absolute-right .label-absolute {
        right: 0;
      }
    }
    #intro {
      color: #ffffff;
    	text-align: center;
    	font-size: 1rem;
      font-family: 'light';
    }

    @media (max-width: 991.98px) {
      .search-bar {
        border-radius: 20px;

        .form-group {
          margin-bottom: 1rem;

          &::after {
            display: block;
            width: calc(100% - 4rem);
            height: 1px;
            content: '';
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            background: #dee2e6;
            position: absolute;
            top: auto;
            right: auto;
            bottom: 0;
            left: 50%;
          }
        }

        .form-control {
          height: calc(1.6em + .75rem + 2px);
          padding: 10px 20px;
        }

        .input-label-absolute-right .label-absolute {
          right: 1rem;
        }

        .bootstrap-select {
          display: block !important;
          width: 100% !important;
          padding: 0;

          button {
            display: block;
            width: 100% !important;
            padding: 10px 20px;
          }
        }
      }
    }
  }
}


@-webkit-keyframes slide-in-nav {
	0% {
		-webkit-transform: translateY(0);
	}
	100% {
		-webkit-transform: translateY(28px);
	}
}
@-moz-keyframes slide-in-nav {
	0% {
		-moz-transform: translateY(0);
	}
	100% {
		-moz-transform: translateY(28px);
	}
}
@keyframes slide-in-nav {
	0% {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		-webkit-transform: translateY(28px);
		-moz-transform: translateY(28px);
		-ms-transform: translateY(28px);
		-o-transform: translateY(28px);
		transform: translateY(28px);
	}
}
@-webkit-keyframes slide-in-hero {
	0% {
		-webkit-transform: translateY(-48px);
	}
	100% {
		-webkit-transform: translateY(0);
	}
}
@-moz-keyframes slide-in-hero {
	0% {
		-moz-transform: translateY(-48px);
	}
	100% {
		-moz-transform: translateY(0);
	}
}
@keyframes slide-in-hero {
	0% {
		-webkit-transform: translateY(-48px);
		-moz-transform: translateY(-48px);
		-ms-transform: translateY(-48px);
		-o-transform: translateY(-48px);
		transform: translateY(-48px);
	}
	100% {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
	}
}
.sticky-subnav, .cat {
	-webkit-animation: slide-in-hero 300ms 70ms forwards;
	-moz-animation: slide-in-hero 300ms 70ms forwards;
	animation: slide-in-hero 300ms 70ms forwards;
	-webkit-transform: translateY(-47px);
	-moz-transform: translateY(-47px);
	-ms-transform: translateY(-47px);
	-o-transform: translateY(-47px);
	transform: translateY(-47px);
	background-color: #f6f9fa;
	border-bottom: solid 1px #e9f0f3;
	padding: 8px 0;
	position: absolute;
	z-index: 1;
	width: 100%;
	+ {
		.page-content {
			padding-top: 120px;
		}
		.pagination.top {
			margin-top: 120px;
		}
	}
}
.subnav-row {
	max-width: 1030px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 15px;
}
.sticky-subnav-list {
	margin: 0;
	text-align: center;
}
.cat-list {
	margin: 0;
	text-align: center;
}
.sticky-subnav-item {
	float: none;
	display: inline-block;
	height: 24px;
	margin-bottom: 4px;
	margin-right: 20px;
	&:last-child {
		margin-right: 0;
	}
	a {
		-webkit-transition: color 200ms ease-in-out;
		-moz-transition: color 200ms ease-in-out;
		transition: color 200ms ease-in-out;
		color: #1b677d;
		font-size: 12px;
		&:hover {
			color: #124453;
		}
		&:active {
			color: #124453;
		}
	}
}
.cat-item {
	float: none;
	display: inline-block;
	height: 24px;
	margin-bottom: 4px;
	margin-right: 20px;
	&:last-child {
		margin-right: 0;
	}
	a {
		-webkit-transition: color 200ms ease-in-out;
		-moz-transition: color 200ms ease-in-out;
		transition: color 200ms ease-in-out;
		color: #1b677d;
		font-size: 12px;
		&:hover {
			color: #124453;
		}
		&:active {
			color: #124453;
		}
	}
}
.sticky-subnav-item.current-cat {
	a {
		color: #154f60;
		font-weight: 700;
	}
}
.cat-item.current-cat {
	a {
		color: #154f60;
		font-weight: 700;
	}
}
.scrolled-past-hero {
	.sticky-subnav, .cat {
		border-top: none;
		padding: 7px 0 3px 0;
		position: fixed;
		width: 100%;
		z-index: 98;
	}
}
@media screen and (max-width: 767px) {
	.scrolled-past-hero {
		.sticky-subnav {
			top: 52px;
		}
		.cat {
			top: 52px;
		}
	}
}
@media screen and (min-width: 768px) {
	.scrolled-past-hero {
		.sticky-subnav {
			-webkit-animation: slide-in-nav 300ms forwards;
			-moz-animation: slide-in-nav 300ms forwards;
			animation: slide-in-nav 300ms forwards;
			top: 52px;
		}
		.cat {
			-webkit-animation: slide-in-nav 300ms forwards;
			-moz-animation: slide-in-nav 300ms forwards;
			animation: slide-in-nav 300ms forwards;
			top: 52px;
		}
	}
}

.sponsers{
  background-color: #ffffff;
  .sponsers-row{
    max-width: 1030px;
  	margin-left: auto;
  	margin-right: auto;
  	padding: 0 15px;
    ul.sponser-list{
      margin: 0;
    	text-align: center;
      .sponser-item{
        float: none;
      	display: inline-block;
      	max-width: 5rem;
        max-height: 2rem;
      	margin-right: 20px;
      	&:last-child {
      		margin-right: 0;
      	}
        img{
          height: 100%;width: 100%;
        }
      }
    }
  }
}



#notes {
  h3.title{
    font-size: 1.7rem;
    font-family: 'bold';
  }
  .flex-grid{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    padding: 0;
    .col-md-4.col-lg-3{
      margin-bottom:1.7rem;
      .note {
        height: 100%;
        border: solid #eee;
        border-width: 1px 1px 2px 1px;
        border-radius: 5px;
        // margin: 1rem 1.5%;
        align-items: stretch;
        padding: 0!important;
        .img-note {
          img{
            width: 100%!important;
            border-radius:3px 3px 0 0;
          }
        }
        .note_content {
          padding: .5rem 7%;
          p.info{
            font-family: 'medium';
            font-size: .8rem;
            color: #b2bac2;
            margin-top: .4rem;
          }
          h2.title {
            margin: 0;
            font-family: 'medium';
            font-size: .9rem;
            transition: color 200ms ease-in-out;
            // line-height: 1rem;
            display: -webkit-box;
            overflow: hidden;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            a {
              text-decoration: none;
              color: #2e353b;
              &:hover {
                color: #2e353b;
              }
            }
          }
          p.body{
            font-family: 'medium';
            font-size: .8rem;
            color: #576366;
            margin: .4rem 0;
          }
          p.buttons{
            font-family: 'medium';
            font-size: .7rem;
            color: #576366;
            margin: .7rem 0;
            span {
              margin-right:.7rem;
            }
          }
        }
      }
    }
  }
}

footer {
	text-align: center;
	float: left;
	width: 100%;
  background: #ebf9ef;
	.footer-brand{
    margin: 0 auto;
		min-height: 43px;
		width: 158px;
		display: block;
    font-size: 1.5rem;
    color: #527cec;
    font-family: 'bold';
    img{
      width: 150px;
      height: 48px;
      margin-top: -4px;
    }
	}
  h2{
    color: #3C4858;
    font-size: 1.2rem;
    font-family: 'medium';
  }
	p{
		font-size: 14px;
    font-family: 'medium';
		a {
			color: #576366;
			&:hover {
				color: #3e474f;
			}
		}
	}
  p.site-info{
    color: #3C4858;
    font-size: 1rem;
    font-family: 'light';
    text-align: center;
  }
}
