header{
  padding: 0;
 	width: 100%;
  z-index: 1030;
  position: fixed;
 	background-color: #fff;
  webkit-box-shadow: 0 0.125rem 0.1875rem -0.125rem rgba(0,0,0,.2);
  box-shadow: 0 0.125rem 0.1875rem -0.125rem rgba(0,0,0,.2);
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
  .col-md-3{
    padding-top: .7rem;
    padding-bottom: .7rem;
   	.nav-brand{
   		float: left;
  		text-decoration: none;
   		img{
        width: 125px;
   			height: 40px;
   		}
   	}
  }
  .col-md-6{
    .nav-icons{
      width: 100%;
      overflow: auto;
      padding: 0 auto;
      a{
        float: left;
        width: 25%;
        height: 100%;
        text-align: center;
        justify-content: center;
        padding: .8rem 0;
        transition: all 0.3s ease;
        color: #a4a7ab;
        font-size: 1.5rem;
        span{
          position: relative;
          svg{fill:#a4a7ab;display: block;margin: .3rem auto;}
        }
        &:hover{
          color: #5fcf80;
          span{svg{fill:#5fcf80;}}
        }
      }
      a.ask{
        &:hover{
          color: #5fcf80;
          span{svg{fill:#5fcf80;path,circle{stroke:#5fcf80;}}}
        }
      }
      a.active{color: #5fcf80;svg{fill:#5fcf80;}}
    }
    .search-modal.overlay{
      position: fixed;
      overflow: auto;
      z-index: 1050;
      width: 100%;height: 100vh;
      background-color: rgba(255,255,255,.8);
      padding: 0;margin: 0;border: 0;top: 0;left: 0;bottom: 0;right: 0;
      .am-modal-body{
        width:58%;
        height: auto;
        margin:7rem auto;
        background:#fff;
        border-radius: 4px;
        box-sizing: border-box;
        .am-model-content{
          text-align: center;
          margin: 1px; padding: 0;
          overflow: hidden!important;
          border-radius: 4px;
          webkit-box-shadow: 0 2px 10px rgba(0,0,0,.15);
          box-shadow: 0 2px 10px rgba(0,0,0,.15);
          .am-model-header{
            padding: 1rem 2rem;
            background: #5fcf80;
            position: relative;
            h3.am-modal-title{
              color: #fff;
              font-size: 20px;
              font-family: 'mattrab-content-sans-serif-font';
            }
            .btn-modal-action{
              cursor: pointer;
              color: #fff;
              font-size: 1rem;
              border-radius: 4px;
              height: 1.9rem;
              position: absolute;
              top: .9rem;right: .9rem;
              font-family: 'mattrab-content-bold-font'!important;
              border: 1px solid rgba(48,73,97,0.1);
              transition: border-color .01s ease, background-color .01s ease, color .01s ease;
              &:hover{
                text-decoration: none;
                background: #df291a;
              }
            }
          }
          .am-form{
            form{
              padding-top: .25rem;
              width: 100%;
              .modal-actions{
                padding: 1rem 2rem 1.4rem;
                position: relative;
                i.fa{ position: absolute;color: #ccc;top: 1.5rem; left: 2.7rem;}
                input.ask-ah{
                  width: 100%;
                  outline: none;
                  box-sizing: border-box;
                  border-radius: 3rem;
                  font-family: 'mattrab-content-sans-serif-font';
                  background: #f2f2f2;
                  border: 2px solid #f2f2f2;
                  padding: .35rem .7rem .25rem 2rem;
                  transition: border-color 0.15s ease, background-color 0.15s ease, color 0.15s ease;
                  &:focus{background: #ebf9ef; border: 2px solid #ebf9ef;}
                }
              }
            }
          }
        }
      }
      @media (max-width: 991.98px){
        .am-modal-body{
          width: 100%;
          height: 100vh;
          margin: 0;
          padding: 0;
          border-radius: 0;
          .am-model-content{
            padding: 0;margin: 0;
            box-shadow: none;
          }
        }
      }
      // make the scroll bar hidden
      &::-webkit-scrollbar {
        display: none;
        -ms-overflow-style: none;
      }
    }
  }
  @media (max-width: 767.98px) {.sm-nav-fixed-bottom{
    position: fixed!important;
    right: 0!important;
    bottom: 0!important;
    left: 0!important;
    z-index: 1030!important;
    height: 3.5rem!important;
    padding-top: 0!important;
  }}
  @media(max-width: 767.98px){.col-sm-12{
    padding-top: .7rem;
    position: absolute;
    bottom: 0;left: 0;
    z-index: 1212;
    background: #fff;
    height: 100%;
    a.nav-link{
      height: 35px;
      max-width: 10%;
      float: left;
      margin-top: 3px;
      font-size: 1.1rem;
      padding: .1rem .5rem;
      color: #fff!important;
      background: #5fcf80!important;
      border-radius: 3rem!important;
      border: 2px solid #9de2b1;
      transition: border-color 0.15s ease;
      span{padding: 0 .8rem}
      &:hover{
        border: 2px solid #5fcf80;
      }
    }
    form{width: 90%;float: left;display: inline-block;padding-left: .5rem;i.fa{top: 1.5rem;left: 4.5rem;}}
  }}
  .col-md-3{
    padding-top: .7rem;
    padding-bottom: .7rem;
    ul.nav{
      li.nav-item{
        padding: .5rem 0 0 1rem;
        a.btn-action{
          height: 31px;
          margin-top: -2px;
          font-size: 1.1rem;
          padding: 0 .4rem;
          color: #fff!important;
          background: #5fcf80!important;
          border-radius: 3rem!important;
          border: 2px solid #9de2b1;
          transition: border-color 0.15s ease;
          font-family: 'mattrab-content-sans-serif-font';
          span{padding: .05rem .8rem;font-size: 1rem;}
          &:hover{
            border: 2px solid #5fcf80;
          }
        }
      }
      @media (max-width: 575.98px) {li.nav-item{padding: .5rem 0 0 .7rem;}}
      li.cdropdown{
        a.dropdown-toggle{
          &::after{
            display: none;
          }
        }
        .dropdown-menu{
          border-radius: .1rem !important;
          box-shadow: 0 8px 20px rgba(55, 125, 255, 0.075);
          &:before {
            position: absolute;
            top: -7px;
            right: 8px;
            display: inline-block;
            border-right: 7px solid transparent;
            border-bottom: 7px solid #ccc;
            border-left: 7px solid transparent;
            border-bottom-color: rgba(0, 0, 0, 0.2);
            content: '';
          }
          &:after {
            position: absolute;
            top: -6px;
            right: 9px;
            display: inline-block;
            border-right: 6px solid transparent;
            border-bottom: 6px solid #ffffff;
            border-left: 6px solid transparent;
            content: '';
          }
          a.dropdown-item{
            font-size: .9rem;
            font-family: 'mattrab-content-sans-serif-font';
            i.fas{color:#62c883;}
            &:focus{
              color: #333;
              background-color: #f2f2f2!important;
            }
          }
        }
      }
      li.ndropdown{
        a.dropdown-toggle{
          height: 31px;
          margin-top: -2px;
          font-size: 1.1rem;
          padding: 0 .4rem!important;
          color: #fff!important;
          background: #5fcf80!important;
          border-radius: 3rem!important;
          border: 2px solid #9de2b1;
          transition: border-color 0.15s ease;
          &:hover{
            border: 2px solid #5fcf80;
          }
          &::after{
            display: none;
          }
          span.count{
            position: absolute;
            top: 0; right: -3px;
            font-size: .7rem;
            padding: 0 .3rem;
            background: #ff1a1a;
            border-radius: .5rem;
            font-family: 'mattrab-content-sans-serif-font';
            border: 1px solid #fff;
          }
        }
        .dropdown-menu{
          min-width: 366px;
          max-height: 78vh;
          overflow-y: scroll;
          overflow-x: auto;
          border-radius: .1rem;
          box-shadow: 0 8px 20px rgba(55, 125, 255, 0.075);
          &:before {
            position: absolute;
            top: -7px;
            right: 8px;
            display: inline-block;
            border-right: 7px solid transparent;
            border-bottom: 7px solid #ccc;
            border-left: 7px solid transparent;
            border-bottom-color: rgba(0, 0, 0, 0.2);
            content: '';
          }
          &:after {
            position: absolute;
            top: -6px;
            right: 9px;
            display: inline-block;
            border-right: 6px solid transparent;
            border-bottom: 6px solid #ffffff;
            border-left: 6px solid transparent;
            content: '';
          }
          &::-webkit-scrollbar {
            width: 7px;
            display: none;
            -webkit-transition: display .1s ease-in-out;
            transition: display .1s ease-in-out;
          }
          // &:hover{ &::-webkit-scrollbar{
          //   display: block;
          // }}
          &::-webkit-scrollbar-track {
            background: #fff;
          }
          &::-webkit-scrollbar-thumb {
            background-color: #d9d9d9;
            border-radius: .7rem;
            border: 2px solid #fff;
          }
          p.this-head{
            font-size: 1rem;
            font-family: 'mattrab-content-bold-font';
            padding: 0 1.5rem;
            a.mark{
              font-size: .9rem;
              padding: 0 .5rem;
              font-family: 'mattrab-content-light-font';
            }
          }
          p.this-type{
            color: #90949c;
            font-size: 11px;
            font-family: 'mattrab-content-sans-serif-font';
            padding: 0 1.5rem;
          }
          .new-notifications,
          .earlier-notifications{
            .dropdown-item{
              width: 100%;
              padding-top:.5rem;
              padding-bottom:.5rem;
              &:focus{background: #f2f2f2;}
              &:nth-child(even) {background: #ebf9ef}
              &:nth-child(odd) {background: #fff}
              .col-md-2{
                .n-img{
                  img{
                    width: 45px; height: 45px;
                    border-radius: 3rem!important;
                    border: 2px solid #9de2b1;
                    transition: border-color 0.15s ease;
                  }
                }
              }
              .col-md-10{
                font-size: .9rem;
                font-family: 'mattrab-content-sans-serif-font';
                padding: 0 1.5rem;
                // background-image: linear-gradient(to right,#73D2F6,#08C 22%,#7FC400 36%,#FFD583 48%,#FFB21E 63%,#FF4D4D 76%,#503873);
                p{
                  word-break: break-word;
                  white-space: normal;
                  margin-bottom: 0;
                  font-size: .9rem;
                  color: #333;
                }
                span{
                  margin-bottom: .2rem;
                  font-size: .7rem;
                  color: #576366;
                }
              }
            }
          }
        }
      }
      li.udropdown{
        a.dropdown-toggle{
          margin-top: -2px;
          padding: 0!important;
          img{
            width: 31px; height: 31px;
            border-radius: 3rem!important;
            border: 2px solid #9de2b1;
            transition: border-color 0.15s ease;
          }
          &:hover{
            img{
              border: 2px solid #5fcf80;
            }
          }
          &::after{
            display: none;
          }
        }
        .dropdown-menu{
          border-radius: .1rem !important;
          box-shadow: 0 8px 20px rgba(55, 125, 255, 0.075);
          &:before {
            position: absolute;
            top: -7px;
            right: 8px;
            display: inline-block;
            border-right: 7px solid transparent;
            border-bottom: 7px solid #ccc;
            border-left: 7px solid transparent;
            border-bottom-color: rgba(0, 0, 0, 0.2);
            content: '';
          }
          &:after {
            position: absolute;
            top: -6px;
            right: 9px;
            display: inline-block;
            border-right: 6px solid transparent;
            border-bottom: 6px solid #ffffff;
            border-left: 6px solid transparent;
            content: '';
          }
          p.nav-user-name{
            font-size: 1.1rem;
            font-family: 'mattrab-content-sans-serif-font';
            padding: 0 1.5rem;
          }
          p.nav-user-email{
            font-size: .7rem;
            font-family: 'mattrab-content-sans-serif-font';
            padding: 0 1.5rem;
          }
          a.dropdown-item{
            font-size: .9rem;
            font-family: 'mattrab-content-sans-serif-font';
            &:focus{
              color: #333;
              background-color: #f2f2f2!important;
            }
          }
        }
      }
    }
  }
}

.banner{
  margin: 0 auto;width: 100%;
  .banner-bg{
    z-index: 2!important;
    position: relative;
    background-image: linear-gradient(rgba(95,207,128,.7),rgba(95,207,128,.7)),image-url('banner.jpg');
    min-height: 20rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #e6e6e6;
    border-radius: 0 0 .3rem .3rem;
    .banner-content{
      width: 100%;
      max-width: 763px;
      padding: 9rem 15px 7rem;
      margin: auto;
      .index-search{
        form.search_form{
          margin: 0 auto;
          padding: 0;
          width: 45.5rem;
          max-width: 100%;
          position: relative;
          display: block;
          font-size: .875rem;
          input.search_input{
            outline: none;
            background-color: #ffffff;
            border: none;
            border-radius: 10rem;
            box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
            box-sizing: border-box;
            color: #202124;
            display: block;
            font-size: 1rem;
            height: 3rem;
            padding: 0 2rem 0 4rem;
            width: 100%;
            -webkit-appearance: none;
            line-height: 1.25rem;
          }
          button.search_button{
            left: 1rem;
            background-color: transparent;
            border: none;
            cursor: pointer;
            height: 3rem;
            padding: 0;
            position: absolute;
            top: 0;
            width: 3rem;
            color: #737373;
          }
        }
      }
      .search-bar {
        border-radius: 10rem;
        background: #fff;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
        .form-group {
          position: relative;
          margin-bottom: 0;
        }
        .form-control {
          height: calc(1.5em + 1rem + 2px);
        }
        .input-label-absolute-right .label-absolute {
          right: 0;
        }
      }
      #intro {
        color: #ffffff;
        max-width: 94%;
      	text-align: center;
      	font-size: .9rem;
        letter-spacing: .03rem;
        margin-left: auto;margin-right: auto;
        font-family: 'mattrab-content-light-font';
      }
      @media (max-width: 767.98px) {
        .search-bar {
          border-radius: 20px;
          .form-group {
            margin-bottom: 1rem;
          }
          .form-control {
            height: calc(1.6em + .75rem + 2px);
            padding: 10px 20px;
          }
          .input-label-absolute-right .label-absolute {
            right: 1rem;
          }
          .bootstrap-select {
            display: block !important;
            width: 100% !important;
            padding: 0;
            button {
              display: block;
              width: 100% !important;
              padding: 10px 20px;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 768px){
  .banner {
      max-width: 720px;
  }
}
@media (min-width: 992px){
  .banner {
      max-width: 960px;
  }
}
@media (min-width: 1200px){
  .banner {
      max-width: 1140px;
      padding-left: 15px;
      padding-right: 15px;
  }
}

.menu-wrapper {
	position: relative;
  width: 100%;
	margin: 1.2rem auto;
	overflow-x: hidden;
	overflow-y: hidden;
  .menu	{
  	box-sizing: border-box;
  	white-space: nowrap;
  	overflow-x: auto;
  	overflow-y: hidden;
  	-webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {display: none;}
  	.item {
  		display: inline-block;
  		box-sizing: border-box;
      float: none;
      margin: 0 .7rem 0 0;
    	a {
    		-webkit-transition: color 200ms ease-in-out;
    		-moz-transition: color 200ms ease-in-out;
    		transition: color 200ms ease-in-out;
    		color: #1b677d;
    		font-size: 13px;
        font-family: 'mattrab-content-sans-serif-font';
        i.fa{ font-size: 14px;}
    		&:hover {
    			color: #3bc464;
          text-decoration: none;
    		}
    		&:active {
    			color: #3bc464;
          text-decoration: none;
    		}
    	}
      a.l {&:hover{border-bottom: 1px solid #ecdada;}}
      a.m {&:hover{border-bottom: 1px solid #dae7ec;}}
      a.s {&:hover{border-bottom: 1px solid #dcede1;}}
  	}
  }
  .paddles{
    .paddle {
    	position: absolute;
      z-index: 1;
    	top: 0;bottom: 0;
      padding: 0;border: none;
      color: #1b677d;
      background: #fbfbf9;
      align-items: center;
      width: 1.7rem;height: 100%;
      font-size: 1.5rem;
      -webkit-transition: color 200ms ease-in-out;
      -moz-transition: color 200ms ease-in-out;
      transition: color 200ms ease-in-out;
      &:hover{
        color: #3bc464;
        text-decoration: none;
      }
      &:focus {
        color: #3bc464;
        outline: none;
        text-decoration: none;
      }
    }
    .left-paddle {left: 0;}
    .right-paddle {right: 0;}
    .hidden {display: none;}
  }
}

#timeline-assets{
  .ta-row{
    .col-md-7{
      .timeline{
        .feed-item{
          background: #fff;
          border-radius: .3rem;
          border: 1px solid #e6e6e6;
          padding: 1rem 1.2rem;
          margin-bottom: 1rem;
          .fi-actor{
            padding: .4rem 0 1rem;
            .avatar img{
              margin-top: -0.3rem;
              height:25px;width:25px;
              border-radius: 50%!important;
              border: 1px solid #89dca2;
            }
            .body{
              .username {
                font-size: 1rem;
                color: #5fcf80;
                font-family: 'mattrab-content-sans-serif-font';
                text-decoration: none;
              }
              .at{
                font-size: .8rem;
                color: #9a989a;
              }
            }
            .btn-delete{
              color: #ff4d4d;
              font-size: .8rem;
              border-radius: 4px;
              padding: 0 .3rem;
              font-family: 'mattrab-content-bold-font'!important;
              border: 1px solid rgba(48,73,97,0.1);
              &:hover{text-decoration: none;}
            }
          }
          .fi-content{
            .question{
              height: 100%;
              align-items: stretch;
              display: -webkit-box; display: flex; flex-wrap: wrap;
              a{
                h3.title{
                  line-height: 1.4;
                  font-size: 16px;
                  color: #333;
                  font-weight: 500;
                  transition: color .1s ease-in-out;
                  font-family: 'mattrab-content-sans-serif-font';
                }
                &:hover{
                  text-decoration: none;
                  h3.title{color: #35b15a;}
                }
              }
            }
            .note {
              height: 100%;
              background: #ffffff;
              align-items: stretch;
              border: 1px solid #fff;
              transition: .3s all ease-in-out;
              padding: .5rem; border-radius: .5rem;
              display: -webkit-box; display: flex; flex-wrap: wrap;
              &:hover{border: 1px solid #e6e6e6;}
              .note_image{
                padding: 0!important;
                .img-note { img{ height: 100%; width: 100%!important; } }
              }
              .note_content {
                padding: .4rem 4%;
                p.info{
                  font-family: 'mattrab-content-sans-serif-font';
                  font-size: .7rem;
                  color: #b2bac2;
                  margin-top: .4rem;
                }
                a{
                  text-decoration: none;
                  h3.title {
                    font-family: 'mattrab-content-sans-serif-font';
                    font-size: 1.1rem;
                    font-weight: bold;
                    display: -webkit-box;
                    overflow: hidden;
                    color: #2e353b;
                    transition: color 100ms ease-in-out;
                  }
                  p.body{
                    font-family: 'mattrab-content-sans-serif-font';
                    font-size: .8rem;
                    color: #576366;
                  }
                  &:hover{ h3.title { color: #35b15a;}}
                }
                p.buttons{
                  font-family: 'mattrab-content-sans-serif-font';
                  font-size: .7rem;
                  color: #7e8c9a;
                  position: absolute;
                  bottom: .2rem; left: 6%;
                  span {margin-right:.7rem;}
                }
              }
            }
          }
        }
      }
    }
    .col-md-5{
      .assets{
        .asset-item{
          background: #fff;
          border-radius: .3rem;
          border: 1px solid #e6e6e6;
          padding: 1rem 1.2rem;
          margin-bottom: 1rem;
          .video{
            width: 100%;
            height: auto;
            iframe {
              height: 228px;
              width: 100%;
              border-radius:.3rem;
            }
          }
        }
      }
    }
  }
  @media (min-width: 768px) {
    .timeline-col{padding-right: 0!important;}
  }
}


#notes {
  background: #fbfbf9;
  .notes-title,
  .questions-title{
    box-sizing: border-box;
    display: flex;
    max-width: 75.125rem;
    min-height: 3rem;
    padding: .4rem 0;width: 100%;
    .left-links{
      h2.title{
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 12px;
        font-family: 'mattrab-content-sans-serif-font';
      }
    }
    .right-links{
      text-align: right;
      a.ni-action-link{
        color: #5f6368;
        background: #ebf9ef;
        padding: .3rem .5rem;
        font-size: .9rem;
        border-radius: 4px;
        font-family: 'mattrab-content-sans-serif-font'!important;
        border: 1px solid rgba(48,73,97,0.1);
        transition: border-color .01s ease, background-color .01s ease, color .01s ease;
        &:hover{
          text-decoration: none;
          border: 1px solid #5fcf80;
        }
      }
    }
  }
  @media (max-width: 575.98px) {
    .notes-title,
    .questions-title{
      .left-links{
        h2.title{ font-size: 16px; }
      }
      .right-links{
        a.ni-action-link{
          padding: .2rem .4rem;
          font-size: .7rem;
        }
      }
    }
  }
  h2.title{
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 12px;
    font-family: 'mattrab-content-sans-serif-font';
  }
  .flex-grid{
    padding-bottom: 2rem;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    .col-md-6.col-sm-12{
      margin-bottom:1.7rem;
      .question{
        height: 100%;
        background: #ffffff;
        align-items: stretch;
        background-color: #fff;
        border: 1px solid #e6e6e6;
        display: -webkit-box; display: flex; flex-wrap: wrap;
        a{
          h3.title{
            line-height: 1.4;
            font-size: 16px;
            color: #333;
            font-weight: 500;
            transition: color .1s ease-in-out;
          }
          p.user-info{
            font-size: 13px;
            color: #7e8c9a;
          }
          p.buttons{
            font-size: .7rem;
            color: #7e8c9a;
            position: absolute;
            bottom: .2rem; left: 16;
            span {margin-right:.7rem;}
          }
          &:hover{
            text-decoration: none;
            h3.title{color: #35b15a;}
          }
        }
      }
      .note {
        height: 100%;
        background: #ffffff;
        align-items: stretch;
        border: 1px solid #e6e6e6;
        display: -webkit-box; display: flex; flex-wrap: wrap;
        // -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
        // -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
        // box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
        .note_image{
          padding: 0!important;
          .img-note { img{ height: 100%; width: 100%!important; } }
        }
        .note_content {
          padding: .4rem 4%;
          p.info{
            font-family: 'mattrab-content-sans-serif-font';
            font-size: .7rem;
            color: #b2bac2;
            margin-top: .4rem;
          }
          a{
            text-decoration: none;
            h3.title {
              font-family: 'mattrab-content-sans-serif-font';
              font-size: 1.1rem;
              font-weight: bold;
              display: -webkit-box;
              overflow: hidden;
              color: #2e353b;
              transition: color 100ms ease-in-out;
            }
            p.body{
              font-family: 'mattrab-content-sans-serif-font';
              font-size: .8rem;
              color: #576366;
            }
            &:hover{ h3.title { color: #35b15a;}}
          }
          p.buttons{
            font-family: 'mattrab-content-sans-serif-font';
            font-size: .7rem;
            color: #7e8c9a;
            position: absolute;
            bottom: .2rem; left: 6%;
            span {margin-right:.7rem;}
          }
        }
      }
    }
  }
  .tag-cloud{
    margin-bottom:5rem;
    .col-md-12{
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      a{
        font-size: 1rem;
        line-height: 1.1;
        padding: .4rem .7rem;
        margin: .4rem;
        display: inline-flex;
        color: rgba(0, 0, 0, 0.54);
        border-radius: 99rem;
        background-color: rgba(0, 0, 0, 0.05);
        align-items: center;
        text-decoration: none;
        font-family: 'mattrab-content-sans-serif-font';
        i.fas{margin-right: 6px;}
      }
      a.l {
      	i.fas{color: #b30000;}
      	&:hover{background-color: #ecdada;}
      }
      a.m {
        i.fas{color:#0086b3;}
        &:hover{background-color: #dae7ec;}
      }
      a.s {
      	i.fas{color: #35b15a;}
      	&:hover{background-color: #dcede1;}
      }
    }
  }
  .encourage-row{
    height: auto;
    color: #515457;
    background: #fbfbf9;
    text-align:center;
    font-family: 'mattrab-content-sans-serif-font';
    padding-bottom: 3.4rem;
    .en-title{width: 100%;padding:0 15px;}
    @media screen and (max-width: 767px) {
      .en-message{width:100%;padding:0 15px 30px;font-size: .9rem;}
      .en-title{width: 100%;padding:0 15px;font-size: 1.5rem;}
    }
    @media (min-width: 768px) and (max-width: 991.98px) {.en-message{width:70%;}}
    @media screen and (min-width: 992px) {.en-message{width:60%;}}
    .actions{
      width: 100%;
      .action-button{
        padding: 12px 60px;
        color: #fff!important;
        background-color: #2ec66d!important;
        text-decoration: none!important;
        border-radius: 50px!important;
        display: inline-block;
        &:hover{background-color: #2cba67!important;text-decoration: none;}
      }
    }
  }
}

footer{
  width: 100%;
  background: #fbfbf9;
  .container{
    .app-info-row{
      height: auto;
      color: #515457;
      background: #fbfbf9;
      padding: 3.4rem 0 4.2rem 0;
      ul.links{
        text-align: center!important;
        width: 100%;
        li.link-item{
          list-style: none;
          display: inline;
          margin: 11px 4px 0;
          a{
            text-decoration: none;
            font-size: .8rem;
            font-family: 'mattrab-content-sans-serif-font';
            color: #515457;
            -webkit-transition: all .1s ease-in-out;
            transition: all .1s ease-in-out;
            i.fab{font-size: 1.1rem;}
            &:hover{text-decoration: underline;}
          }
        }
      }
    }
  }
}
