
#about{
  width: 100%;
  background: #fbfbf9;
  .mission{
    background: #ebf9ef;
    display: -webkit-box; display: flex; flex-wrap: wrap;width: 100%;
    .view-mission{
      width: 100%;
      position: relative;
      padding-top: 5rem;
      min-height: 15rem;
      h3.title{
        color: #35b15a;
        text-align: center;
        font-size: 2rem;
        font-family: 'mattrab-content-sans-serif-font';
      }
      p.mission-text{
        color: #333;
        max-width: 720px;
        text-align: center;
        font-size: 1.4rem;
        font-family: 'mattrab-content-sans-serif-font';
      }
      @media (max-width: 767.98px) {padding: 0 1.5rem;}
    }
    .feature{
      width:100%;
      max-width: 870px;
      display: -webkit-box; display: flex; flex-wrap: wrap;
      .f-circle{
        padding: 0 1rem;
        .circle{
          width: 5rem;
          height: 5rem;
          border-radius: 50%;
          background: #5fcf80;
          padding: 1.5rem 0;
          i.fa{
            font-size: 2rem;
            color: #fff;
          }
        }
        p.f-text{
          color: #35b15a;
          font-size: .7rem;
          font-family: 'mattrab-content-sans-serif-font';
          text-align: center;
          font-weight: bold;
        }
      }
    }
  }
  .element.container{
    margin-top: 4rem;
    display: -webkit-box; display: flex; flex-wrap: wrap;
    .col-md-5{
      .element-img{
        padding: 0 2rem;
        img{width: 100%;}
      }
    }
    .col-md-7{
      .description{
        padding: 0 2rem;
        h2.title{
          color: #35b15a;
          font-size: 1.8rem;
          font-family: 'mattrab-content-sans-serif-font';
        }
        @media (max-width: 767.98px) {h2.title{text-align: center;}}
        p.text{
          color: #333;
          font-size: 1.1rem;
          font-family: 'mattrab-content-sans-serif-font';
          text-align: justify;
        }
      }
    }
  }
  .admins.container{
    margin-top: 2rem;
    display: -webkit-box; display: flex; flex-wrap: wrap;
    .message-f-a{
      h4.title{
        color: #35b15a;
        text-align: center;
        font-size: 1.8rem;
        font-family: 'mattrab-content-sans-serif-font';
      }
      p.text{
        color: #333;
        text-align: justify;
        font-size: 1.1rem;
        font-style: italic;
        font-family: 'mattrab-content-sans-serif-font';
      }
    }
    .p_admins, .c_admins, .b_admins,
    .m_admins, .n_admins, .e_admins{
      span.badge-base{
        width: 100%;
        height: .5rem;
        display: block;
        background: #89dca2;
        border-radius: .3rem .3rem 0 0;
      }
      span.badge{
        display: inline-block;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: .1em;
        font-size: .7rem;
        background: #5fcf80;
        width: 12rem;
        height: 1.1rem;
        border-radius: 1rem;
        position: absolute;
        top: -.3rem; left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
      }
      .view-admins{
        background: #fff;
        border-radius: 0 0 .3rem .3rem;
        border-left: 1px solid #E5E4E2;
        border-right: 1px solid #E5E4E2;
        border-bottom: 1px solid #E5E4E2;
        padding: 0 1.4rem 0 1.4rem;
        display: -webkit-box; display: flex; flex-wrap: wrap;
        .view-admin{
          .this-face{
            padding: 2rem 0 .2rem 0;
            .face{img{
              width: 70%;
              margin-left: 15%;
              padding: 2px;
              border-radius: 50%;
              border: 3px solid #5fcf80;
            }}
            h2.name{
              font-size: 1.2rem;
              font-family: 'mattrab-content-sans-serif-font';
              text-align: center;
              font-weight: bold;
              span{font-size: .7rem;color: #b3b3b3; vertical-align: middle;}
            }
            p.details{
              font-size: 1rem;
              font-family: 'mattrab-content-sans-serif-font';
              text-align: center;
            }
          }
        }
      }
    }
  }
  .f-p.container{
    margin-top: 2rem;
    display: -webkit-box; display: flex; flex-wrap: wrap;
    .view-f-p{
      .this-face-wrap{
        span.badge-base{
          width: 100%;
          height: .5rem;
          display: block;
          background: #89dca2;
          border-radius: .3rem .3rem 0 0;
        }
        span.badge{
          display: inline-block;
          color: #fff;
          text-transform: uppercase;
          letter-spacing: .1em;
          font-size: .7rem;
          background: #5fcf80;
          width: 7rem;
          height: 1.1rem;
          border-radius: 1rem;
          position: absolute;
          top: -.3rem; left: 50%;
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
        }
        .this-face{
          background: #fff;
          border-radius: 0 0 .3rem .3rem;
          border-left: 1px solid #E5E4E2;
          border-right: 1px solid #E5E4E2;
          border-bottom: 1px solid #E5E4E2;
          padding: 2rem 1.4rem 1.2rem 1.4rem;
          .face{img{
            width: 80%;
            margin-left: 10%;
            padding: 2px;
            border-radius: 50%;
            border: 3px solid #5fcf80;
          }}
          h2.name{
            font-size: 1.5rem;
            font-family: 'mattrab-content-sans-serif-font';
            text-align: center;
            font-weight: bold;
            span{font-size: .7rem;color: #b3b3b3; vertical-align: middle;}
          }
          .follow.edit{
            .btn-follow-edit{
              width: 70%;
              display: block;
              margin-left: 15%;
              text-align: center;
              text-decoration: none;
            }
          }
          p.has,p.email{
            color: #b3b3b3;
            font-size: .9rem;
            font-family: 'mattrab-content-sans-serif-font';
            text-align: center;
          }
          p.email{font-size:.8rem!important;}
        }
      }
    }
    .text-f-p{
      p.text{
        color: #333;
        font-size: 1.1rem;
        font-family: 'mattrab-content-sans-serif-font';
        span{display: block; width: 100%;}
        span.t-small{font-size: 1rem;}
      }
      @media (min-width: 768px) { p.text,p.speaker{margin-left: 1rem;}}
      p.speaker{
        padding: 0 .8rem;
        color: #333;
        font-size: .8rem;
        font-family: 'mattrab-content-sans-serif-font';
        border-left: 3px solid #89dca2;
        margin-right: 12px; margin-left: 12px;
        span{
          width: 100%;
          display: block;
          font-size: 1.2rem;
          font-weight: bold;
        }
      }
    }
  }
}

// Affiliate Program
#affiliate_program{
  width: 100%;
  background: #fbfbf9;
  .ad-appeal{
    background: #ebf9ef;
    display: -webkit-box; display: flex; flex-wrap: wrap;width: 100%;
    .view-ad-appeal{
      width: 100%;
      position: relative;
      padding-top: 5rem;
      min-height: 15rem;
      h3.title{
        color: #35b15a;
        text-align: center;
        font-size: 2rem;
        font-family: 'mattrab-content-sans-serif-font';
      }
      p.appeal-text{
        color: #333;
        max-width: 720px;
        text-align: center;
        font-size: 1.4rem;
        font-family: 'mattrab-content-sans-serif-font';
      }
      @media (max-width: 767.98px) {padding: 0 1.5rem;}
    }
  }
  .container{
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: -webkit-box; display: flex; flex-wrap: wrap;width: 100%;
    .col-md-5{
      .ad-placement-img{
        padding: 0 2rem;
        img{width: 100%;}
      }
      .highlights{
        h3.hl-title{
          color: #35b15a;
          font-size: 1.8rem;
          font-family: 'mattrab-content-sans-serif-font';
        }
        @media (max-width: 767.98px) {h3.hl-title{text-align: center;}}
        li.hl-item{
          color: #1d6232;
          font-size: 1.1rem;
          font-family: 'mattrab-content-sans-serif-font';
        }
      }
    }
    .col-md-12{
      .contact{
        h3.c-title{
          color: #35b15a;
          font-size: 2rem;
          font-family: 'mattrab-content-sans-serif-font';
          text-align: center;
          width: 100%;
        }
        form{
          input[type=text], input[type=email],
          select, textarea {
            width: 100%;
            padding: 7px;
            border: none;
            border-bottom: 1px solid #d8f3e0;
            background: #d8f3e0;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
            font-family: 'mattrab-content-sans-serif-font';
          }
          input[type=text]:focus, input[type=email]:focus,
          select:focus, textarea:focus {
            outline: none;
          }

          input[type=submit] {
            background-color: #5fcf80;
            color: white;
            padding: 12px 20px;
            border: none;
            width: 100%;
            border-radius: 4px;
            cursor: pointer;
            font-family: 'mattrab-content-sans-serif-font';
            transition: .3s;
          }

          input[type=submit]:hover {
            background-color: #4eca73;
          }
        }
      }
    }
  }
}

// Terms & Conditions
#terms{
  width: 100%;
  background: #fbfbf9;
  .terms-head{
    background: #ebf9ef;
    display: -webkit-box; display: flex; flex-wrap: wrap;width: 100%;
    .view-terms-head{
      width: 100%;
      position: relative;
      padding-top: 5rem;
      min-height: 15rem;
      h3.title{
        color: #35b15a;
        text-align: center;
        font-size: 2rem;
        font-family: 'mattrab-content-sans-serif-font';
      }
      p.head-text{
        color: #333;
        max-width: 720px;
        text-align: center;
        font-size: 1.4rem;
        font-family: 'mattrab-content-sans-serif-font';
      }
      @media (max-width: 767.98px) {padding: 0 1.5rem;}
    }
  }
  .container{
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: -webkit-box; display: flex; flex-wrap: wrap;width: 100%;
    .col-md-10{
      .terms-list{
        list-style-position: outside;
        li.hl-item{
          color: #1d6232;
          font-size: 1.1rem;
          font-family: 'mattrab-content-sans-serif-font';
          margin-bottom: .7rem;
        }
      }
    }
  }
}

// Privacy Policy
#privacy{
  width: 100%;
  background: #fbfbf9;
  .privacy-head{
    background: #ebf9ef;
    display: -webkit-box; display: flex; flex-wrap: wrap;width: 100%;
    .view-privacy-head{
      width: 100%;
      position: relative;
      padding-top: 5rem;
      min-height: 15rem;
      h3.title{
        color: #35b15a;
        text-align: center;
        font-size: 2rem;
        font-family: 'mattrab-content-sans-serif-font';
      }
      p.head-text{
        color: #333;
        max-width: 720px;
        text-align: center;
        font-size: 1.4rem;
        font-family: 'mattrab-content-sans-serif-font';
      }
      @media (max-width: 767.98px) {padding: 0 1.5rem;}
    }
  }
  .container{
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: -webkit-box; display: flex; flex-wrap: wrap;width: 100%;
    .col-md-10{
      .privacy-list{
        list-style-position: outside;
        li.hl-item{
          color: #1d6232;
          font-size: 1.1rem;
          font-family: 'mattrab-content-sans-serif-font';
          margin-bottom: 1rem;
        }
      }
    }
  }
}
