
// Forms
.this-wrap{
  background: #fbfbf9;
  padding-top: 2rem;
  .container{
    display: -webkit-box; display: flex; flex-wrap: wrap;
    .welcome{
      padding-top: 4rem;
      h2.title{
        text-align: center;
        font-family: 'mattrab-content-sans-serif-font';
        font-size: 2.5rem;
        font-weight: bold;
        color: #333;
      }
      p.messege{
        text-align: center;
        font-family: 'mattrab-content-sans-serif-font';
        font-size: 1.1rem;
        color: #333;
      }
      p.if{
        text-align: center;
        font-family: 'mattrab-content-sans-serif-font';
        font-size: 1rem;
        color: #333;
        margin-top: 4rem;
        margin-bottom: .8rem;
      }
      .btn-else{
        width: 70%;
        margin-left: 15%;
        display: block;
        text-align: center;
        text-decoration: none;
      }
    }
    .form-wrap{
      height: 100%;
      padding: auto;
      width: 100%!important;
      min-height: 70vh!important;
      .this-form{
        width: 100%;
        margin: auto;
        max-width: 420px;
        padding: 3rem 2rem;
        form.new_user{
          padding: 2rem;
          font-size: 14px;
          border-radius: .2rem;
          background-color: #fff;
          border: 1px solid #d8dee2;
          .form-inputs{
            a{
              color: #b3b3b3; float:right; font-family:'mattrab-content-sans-serif-font'; font-size:.8rem!important;text-decoration: none;
              &:hover{color: #5fcf80;}
            }
            input{
              font-size: 14px;
              border-radius: 3rem;
              padding: 0 1rem;
            }
            span.hint{color: #b3b3b3;font-family:'mattrab-content-sans-serif-font'; font-size:.8rem!important; }
            .input.boolean.optional{
              font-size: .8rem!important;
              font-family:'mattrab-content-sans-serif-font';
              color: #b3b3b3;
              input.boolean.optional{
                margin-right: .4rem!important;
              }
            }
          }
        }
      }
    }
  }
}


// Profile
#profile, #profile-edition-layout{
  min-height: 78vh;
  background: #fbfbf9;
  padding-top: 2rem;
  font-family: 'mattrab-content-sans-serif-font';
  .container{
    display: -webkit-box; display: flex; flex-wrap: wrap;
    .this-face-wrap{
      span.badge-base{
        width: 100%;
        height: .5rem;
        display: block;
        background: #89dca2;
        border-radius: .3rem .3rem 0 0;
      }
      span.badge{
        display: inline-block;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: .1em;
        font-size: .7rem;
        background: #5fcf80;
        width: 7rem;
        height: 1.1rem;
        border-radius: 1rem;
        position: absolute;
        top: -.3rem; left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
      }
      .this-face{
        background: #fff;
        border-radius: 0 0 .3rem .3rem;
        border-left: 1px solid #E5E4E2;
        border-right: 1px solid #E5E4E2;
        border-bottom: 1px solid #E5E4E2;
        padding: 2rem 1.4rem 1.2rem;
        .face{
          img{
            width: 80%;
            margin-left: 10%;
            padding: 2px;
            border-radius: 50%;
            border: 3px solid #5fcf80;
          }
          label[for="user_avatar"]{
            cursor:pointer;
            position: absolute;
            padding: .3rem .5rem;
            border-radius: 50%;
            top: 57px;right: 4rem;
            background-color: rgba(0,0,0,.3);
            transition: background-color 200ms ease-in-out;
            &:hover{
              color: #b3b3b3; background-color: rgba(0,0,0,.7);
            }
          }
          .user_avatar{input.file{display: none;}}
        }
        h2.name{
          font-size: 1.4rem;
          text-align: center;
          font-weight: bold;
          span{font-size: .7rem;color: #b3b3b3; vertical-align: middle;}
        }
        .follow.edit{
          .btn-follow-edit{
            width: 70%;
            display: block;
            margin-left: 15%;
            text-align: center;
            text-decoration: none;
          }
          @media (min-width: 768px) and (max-width: 991.98px) {.btn-follow-edit{width:80%;margin-left:10%;}}
        }
        p.has,p.email{
          color: #b3b3b3;
          font-size: .9rem;
          font-family: 'mattrab-content-sans-serif-font';
          text-align: center;
        }
        p.email{font-size:.8rem!important;}
      }
      @media (min-width: 768px) and (max-width: 991.98px) {.this-face{padding:1rem .4rem .8rem;}}
    }
    .this-property{
      padding-left: 12px;
      padding-right: 12px;
      .this-property-nav{
        margin-top: -1rem;
        .navbar-internal{
          box-sizing: border-box;
          display: flex;
          max-width: 75.125rem;
          min-height: 1.4rem;width: 100%;
          border-bottom: .0625rem solid #dadce0;
          .left-links{
            a.qi-navbar-link{
              box-sizing: border-box;
              color: #5f6368;
              display: inline-block;
              flex-grow: 1;
              padding: .5rem;
              font-size: .875rem;
              text-align: center;
              &:hover{
                text-decoration: none;
              }
            }
            a.qi-navbar-link#active{
              border-bottom: .1rem solid #5fcf80;
              color: #5fcf80;
            }
            @media (min-width: 48.1875rem){
              a.qi-navbar-link {
                margin: 0 .5rem 0 0;
                max-width: none;
                width: auto;
              }
            }
          }
        }
        @media (max-width: 475.98px) {
          .navbar-internal{
            .left-links{
              a.qi-navbar-link{
                padding: .1rem;
                font-size: .9rem;
                margin: 0 .15rem 0 0;
              }
            }
          }
        }
        @media (max-width: 374.98px) {
          .navbar-internal{
            .left-links{
              a.qi-navbar-link{
                padding: .1rem;
                font-size: .8rem;
                margin: 0 .15rem 0 0;
              }
            }
          }
        }
      }
      .notes{
        h3.title{
          width: 100%;
          color: #333;
          font-size: 1.2rem;
          font-family: 'mattrab-content-sans-serif-font';
        }
        .row{
          .col-lg-9.col-md-10.col-sm-12{
            margin-bottom:2rem;
            .note {
              height: 100%;
              background: #ffffff;
              align-items: stretch;
              -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
              -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
              box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
              display: -webkit-box; display: flex; flex-wrap: wrap;
              .note_image{
                padding: 0!important;
                .img-note { img{ height: 100%; width: 100%!important; } }
              }
              .note_content {
                padding: .4rem 4%;
                p.info{
                  font-family: 'mattrab-content-sans-serif-font';
                  font-size: .7rem;
                  color: #b2bac2;
                  margin-top: .4rem;
                }
                a{
                  text-decoration: none;
                  h2.title {
                    color: #333;
                    font-family: 'mattrab-content-sans-serif-font';
                    font-size: 1.1rem;
                    display: -webkit-box;
                    font-weight: bold;
                    overflow: hidden;
                    color: #2e353b;
                    transition: color 100ms ease-in-out;
                  }
                  p.body{
                    font-family: 'mattrab-content-sans-serif-font';
                    font-size: .8rem;
                    color: #576366;
                  }
                  &:hover{ h2.title { color: #35b15a;}}
                }
                p.buttons{
                  font-family: 'mattrab-content-sans-serif-font';
                  font-size: .7rem;
                  color: #7e8c9a;
                  position: absolute;
                  bottom: .2rem; left: 6%;
                  span {margin-right:.7rem;}
                }
              }
            }
          }
          .col-lg-3.col-md-2.col-sm-12{
            margin-bottom:2rem;
            a.btn-sm{
              color: #333;
              font-size: .9rem;
              font-family: 'mattrab-content-sans-serif-font';
              border: 2px solid rgba(48,73,97,0.1);
              transition: border-color 0.15s ease, background-color 0.15s ease, color 0.15s ease;
              &:hover{
                text-decoration: none;
                border: 2px solid #5fcf80;
              }
            }
            a.btn-sm.delete{&:hover{border: 2px solid #ff4d4d;}}
            p.status{font-family: 'mattrab-content-sans-serif-font'; font-size: .8rem; color: #35b15a;}
          }
        }
      }
      .questions{
        .row{
          .col-lg-9.col-md-10.col-sm-12{
            margin-bottom:2rem;
            .question{
              height: 100%;
              border-radius: 3px;
              background: #ffffff;
              align-items: stretch;
              background-color: #fff;
              border: 1px solid #e6e6e6;
              display: -webkit-box; display: flex; flex-wrap: wrap;
              a{
                h3.title{
                  line-height: 1.4;
                  font-size: 16px;
                  color: #333;
                  font-weight: 500;
                  transition: color .1s ease-in-out;
                }
                p.user-info{
                  font-size: 13px;
                  color: #7e8c9a;
                }
                p.buttons{
                  font-size: .7rem;
                  color: #7e8c9a;
                  position: absolute;
                  bottom: .2rem; left: 16;
                  span {margin-right:.7rem;}
                }
                &:hover{
                  text-decoration: none;
                  h3.title{color: #35b15a;}
                }
              }
            }
          }
          .col-lg-3.col-md-2.col-sm-12{
            margin-bottom:2rem;
            padding-top: 0.25rem;
            a.btn-sm{
              color: #333;
              font-size: .9rem;
              font-family: 'mattrab-content-sans-serif-font';
              border: 2px solid rgba(48,73,97,0.1);
              transition: border-color 0.15s ease, background-color 0.15s ease, color 0.15s ease;
              &:hover{
                text-decoration: none;
                border: 2px solid #5fcf80;
              }
            }
            a.btn-sm.delete{&:hover{border: 2px solid #ff4d4d;}}
          }
        }
      }
      .about{
        padding-top: 3rem;
        p.title{font-size: 1.3rem;}
        p.about_text{
          font-size: 1rem;
          a{color: #1d6232;}
        }
        p.joined,p.views{font-size: .8rem; color: #b3b3b3;}
      }
      .settings{
        .card{
          .card-body{
            .categories{
              margin-bottom:.9rem;
              label.category-label{color: #a1a2a3;font-size:.9rem;margin-bottom:.2rem;}
              span{
                margin-right: 1rem;
                label{margin-bottom:.1rem;input[type="checkbox"]{margin-right:.3rem;}}
              }
            }
            .input{
              margin-bottom:.9rem;
              label{
                color: #a1a2a3;
                font-size: .9rem;
                abbr{color: #ff4d4d;}
              }
              textarea,
              input,select{
                width: 100%;
                box-sizing: border-box;
              	-webkit-box-sizing: border-box;
              	-moz-box-sizing: border-box;
              	border: 1px solid #C2C2C2;
              	border-radius: 3px;
              	-webkit-border-radius: 3px;
              	-moz-border-radius: 3px;
              	padding: 7px;
              	outline: none;
                &:focus{border: 1px solid #5fcf80;}
              }
              textarea{min-height:7rem;}
              span.hint{display:block;font-size:.7rem;color:#35b15a;}
              span.error{display:block;font-size:.7rem;color:#ff4d4d;}
            }
            .error_notification{display:block;font-size:.8rem;color:#ff4d4d;}
            .form-actions{
              .btn-update{
                color: #5f6368;
                background: #ebf9ef;
                padding: .3rem 1.4rem;
                font-size: .9rem;
                border-radius: 4px;
                font-family: 'mattrab-content-sans-serif-font'!important;
                border: 1px solid rgba(48,73,97,0.1);
                transition: border-color .01s ease, background-color .01s ease, color .01s ease;
                &:hover{
                  text-decoration: none;
                  border: 1px solid #5fcf80;
                }
              }
            }
          }
          .card-footer{
            .btn-delete{
              color: #5f6368;
              background: #ffe6e6;
              padding: .3rem 1.4rem;
              font-size: .9rem;
              border-radius: 4px;
              font-family: 'mattrab-content-sans-serif-font'!important;
              border: 1px solid rgba(48,73,97,0.1);
              transition: border-color .01s ease, background-color .01s ease, color .01s ease;
              &:hover{
                text-decoration: none;
                border: 1px solid #ff4d4d;
              }
            }
          }
        }
      }
    }
    @media (max-width: 991.98px) {.this-property{padding-left:0;padding-right:0;}}
  }
}

//Edit Profile
// #profile-edition-layout{
//   background: #fbfbf9;
//   padding-top: 2rem;
//   .container{
//     display: -webkit-box; display: flex; flex-wrap: wrap;
//     .this-face-wrap{
//       span.badge-base{
//         width: 100%;
//         height: .5rem;
//         display: block;
//         background: #89dca2;
//         border-radius: .3rem .3rem 0 0;
//       }
//       span.badge{
//         display: inline-block;
//         color: #fff;
//         text-transform: uppercase;
//         letter-spacing: .1em;
//         font-size: .7rem;
//         background: #5fcf80;
//         width: 7rem;
//         height: 1.1rem;
//         border-radius: 1rem;
//         position: absolute;
//         top: -.3rem; left: 50%;
//         -webkit-transform: translateX(-50%);
//         transform: translateX(-50%);
//       }
//       .this-face{
//         background: #fff;
//         border-radius: 0 0 .3rem .3rem;
//         border-left: 1px solid #E5E4E2;
//         border-right: 1px solid #E5E4E2;
//         border-bottom: 1px solid #E5E4E2;
//         padding: 2rem 1.4rem 1.2rem 1.4rem;
//         .face{
//           img{
//             width: 80%;
//             margin-left: 10%;
//             padding: 2px;
//             border-radius: 50%;
//             border: 3px solid #5fcf80;
//           }
//           label[for="user_avatar"]{
//             cursor:pointer;
//             position: absolute;
//             padding: .3rem .5rem;
//             border-radius: 50%;
//             top: 57px;right: 4rem;
//             background-color: rgba(0,0,0,.3);
//             transition: background-color 200ms ease-in-out;
//             &:hover{
//               color: #b3b3b3; background-color: rgba(0,0,0,.7);
//             }
//           }
//           .user_avatar{input.file{display: none;}}
//         }
//         .user_name,.user_email,.user_password,.user_password_confirmation,.user_current_password{
//           input{
//             width: 100%;
//             background: #ebf9ef;
//             font-family: 'mattrab-content-sans-serif-font';
//             padding: .5rem .3rem;
//             margin: .5rem 0;
//             font-size: .9rem;
//             outline: none; border: none;
//             border-left: 3px solid #89dca2;
//           }
//           span.hint{display: block;font-size: .7rem;font-family: 'mattrab-content-sans-serif-font';color: #35b15a;line-height: 1!important;margin-top: -0.1rem!important;}
//         }
//         .user_name{
//           margin: 1.5rem 0 .5rem 0;
//           input{
//             font-size: 1.5rem;
//             text-align: center;
//             font-weight: bold;
//             padding: .3rem 0;
//           }
//         }
//         .form-actions{
//           .btn-update{
//             width: 70%;
//             display: block;
//             margin-left: 15%;
//             text-align: center;
//             text-decoration: none;
//           }
//           .btn-delete{
//             width: 70%;
//             display: block;
//             margin-left: 15%;
//             margin-top: 1.7rem;
//             text-align: center;
//             text-decoration: none;
//             background: #ff4d4d!important;
//             border: 2px solid #ff9999!important;
//             &:hover{
//               border: 2px solid #ff4d4d!important;
//             }
//           }
//         }
//         .user_email{
//           margin-bottom: .5rem;
//           input{
//             text-align: center;
//             padding: .5rem 0;
//           }
//         }
//       }
//     }
//   }
// }
