
<h1><span style="color:#5fcf80;">ask</span>mattrab</h1>
<h2>Hello <%= @resource.name.humanize %>!</h2>

<p>We're contacting you to notify you that your password has been changed.</p>

<p>
Regards,<br>
Mattrab Community.
</p>
