#terms
  .terms-head
    .view-terms-head.mb-4
      %h3.title Be a Mattrab Creator.
      %p.head-text.mx-auto Join the proud Mattrab Creator Community today and make the difference. If you are confident of delivering the good quality academic resoucres, kindly follow the steps.
  .strip-row
    .bar.bar-1st
    .bar.bar-2nd
    .bar.bar-3rd
    .bar.bar-4th
    .bar.bar-5th
    .bar.bar-6th
    .bar.bar-7th
    .bar.bar-8th
    .bar.bar-9th
    .bar.bar-10th
    .bar.bar-11th
    .bar.bar-12th
  .container
    .col-md-10.offset-md-1
      %ul.terms-list.mt-3
        %li.hl-item Write an email describing the topic of your interests, performances and achievements.
        %li.hl-item Any documents sent will help us to recocnize you comfortably.
        %li.hl-item You need a Learner Account before you appeal for Creator Account.
        %li.hl-item Once you are successfully selected by the Mattrab Admins, you will receive an invitation email.
        %li.hl-item
          Email Addresses:
          = mail_to "info@askmattrab.com"
          and
          = mail_to "askmattrab@gmail.com"
