#faqs
  .info-banner
    .banner-content
      %p#mission.mb-0 Bridging the gap among Education Quality in Nepal.
  .how-m-w
    .user-type.mb-4
      %h3.title How Mattrab Works?
      %p.text.mx-auto Mattrab serves by organizing the notes that Mattrab Creator Community has created, questions asked and answers for them in easily accessible manner. Any students can visit mattrab and search, browse and learn through these resourses.
      %p.text.mx-auto The more featues like asking a question, answering to others questions, creating an acedemic or research notes are accessible after the user signs up and Joins the Mattrab Community.
      %p.text.mx-auto The students who joins Mattrab Community gets one of 3 different badges. They are Learner, Creator and Admin. The teachers can also Join the Community with teacher badge.
      %p.sub-title.mb-1 1. Learner Badge
      %p.text.mx-auto Learner Badge is the default badge that any student gets after signing up to Mattrab. With this badge the student can create and ask questions, write answer to others questions, vote the questions and answers as helpful additional to just browsing and learning form the existing resources.
      %p.sub-title.mb-1 2. Creator Badge
      %p.text.mx-auto
        Creator Badge is provided to the students who already own learner badge for more than a month and actively participate in creative learning activities in the Website. With this badge, student can publish their academic or research note after the verification form Admins.
        %br
        = link_to 'Here is how you request the Creator Badge.', creator_appeal_path
      %p.sub-title.mb-1 3. Admin Badge
      %p.text.mx-auto Admin Badge is mostly owned by teachers who verify the created notes and moderate the resources around the website. Admin Badge are sometines provided to students as well who can build the trust of moderating the resources by actively utilizing the Creator Badge.

  .strip-row
    .bar.bar-1st
    .bar.bar-2nd
    .bar.bar-3rd
    .bar.bar-4th
    .bar.bar-5th
    .bar.bar-6th
    .bar.bar-7th
    .bar.bar-8th
    .bar.bar-9th
    .bar.bar-10th
    .bar.bar-11th
    .bar.bar-12th

  .award-and-faqs
    .awards-faqs
      %h3.title.mt-2 What are the Rewards and Achievements?
      %p.text.mx-auto Signing up to askmattrab.com means your have joined Mattrab Community which is an extension of St. Xavier's College, Maitighar, Kathmandu. Anyone from anywhere in Nepal who joins the Community shall get the Certificate of Membership after Mattrab App verifies your active participation.
      %p.text.mx-auto Every students will be awarded with the badge certificate accoarding to their earned badge. One can get all learner, creator and admin certificates if s/he manages to earn all of them.
      %p.text.mx-auto Students will also be provided Certificate after the successful creation of 50, 100 and 500 notes and answers. All the Certificates will be issued by St. Xavier's College, Maitighar and will be emailed to respective students who is qualified for it.
      %h4.sub-title How do you ask good questions?
      %p.text.mx-auto Make sure that there is no proper answer to your questions before asking it. You can quickly search for your question if it is already asked. Repeated questions are deleted by the system.
      %h4.sub-title.mt-4 How do you create good answers and notes?
      %p.text.mx-auto Make sure you have good and enough knowlege on the topic you are writing on. You can focus on any topic in and out the academic syllabus. You can submit creative note under Trivia Category. It is again best practice to include the resources your have researched and read from.
      %p.text.mx-auto Also, assign the proper grade and subject details with descriptive tags.
    .regards
      %p.regards-text.mx-auto Mattrab Community, St. Xavier's College, Maitighar.
