#privacy
  .privacy-head
    .view-privacy-head.mb-4
      %h3.title Privacy Policy.
      %p.head-text.mx-auto We know that you care about how your information is collected, used and shared, and we take your privacy seriously. Please read this Privacy Policy carefully to learn more about our privacy practices.
  .strip-row
    .bar.bar-1st
    .bar.bar-2nd
    .bar.bar-3rd
    .bar.bar-4th
    .bar.bar-5th
    .bar.bar-6th
    .bar.bar-7th
    .bar.bar-8th
    .bar.bar-9th
    .bar.bar-10th
    .bar.bar-11th
    .bar.bar-12th
  .container
    .col-md-10.offset-md-1
      %ul.privacy-list.mt-3
        %li.hl-item You must not share your payment information anywhere in the website. Mattrab is free and always will be.
        %li.hl-item The general information you share to the website is just to improve your user experience. It is a crime to sell those to the third parties.
        %li.hl-item You can always access, change and edit your information in the website.
