
%footer#footer
  .footer-brand.mt-5
    = image_tag 'mrlogo.png'
  %h2= 'Built by students for students'
  %p
    ©2019 Mattrab. All right reserved.
    %br/
    %br/
    %a{:href => "https://teamtreehouse.com/about"} About Mattrab
    •
    %a{:href => "https://teamtreehouse.com/affiliate-program"} Affiliate Program
    •
    %a{:href => "https://teamtreehouse.com/terms"} Terms
    •
    %a{:href => "https://teamtreehouse.com/privacy"} Privacy
    •
    %a{:href => "https://teamtreehouse.com/support"} Contact
  %p.pb-4.site-info= 'Mattrab is a community of students where the students share notes and learning assets to share and learn simultanously.'
